body{
    font-family: 'Bona Nova', serif;
    margin:0;
}

h1{
    font-size: 30px;
    
}
h2{
    color: lightslategray;
    text-align: center;
}
.color{
    color: orangered;
}
.gray-color{
    color:grey;
}

.button{
    text-decoration: none;
    padding: 10px 15px;
    background-image: linear-gradient(orange,orangered);
    border-radius: 15px;
    color:white;
    font-weight: 700;
    margin-top:20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: green;
}

li {

    float: left;
    width: auto;


}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #888888;
}

.top-header{
    height: 500px;
    background-image:url("images/shape/7.png");
    background-repeat:no-repeat;
}
.about-me{
 
    background-image:url("images/shape/Frame\ 57.jpg");
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
    
}
.half-width img{
    width:70%;
}
.about-me{
  background-image: url("images/shapes/Frame\ 57.jpg");
  background-repeat: no-repeat;
}
.paragraph{
    color: gray;
    text-align: justify;
}

.recipies-item{
    height:450px;
    width:25%;
    margin-left:5%;
    margin-right: 1%;
    padding-left: 1%;
    border-radius: 15px;
    border: 10px solid whitesmoke;
    box-shadow: 10px 10px 10px gray;
}
.recipies-item img{
    width:100%;
    border-radius: 10px;
}
footer{
    height: 200px;
    background-color:#1d2027;
}
footer h1, p{
    padding-top: 20px;
    text-align: center;
    color:white;
    
}